@import url('https://fonts.googleapis.com/css?family=Gugi');
* {
    font-size: 100%;
    font-family: Gugi;
 }

div.profilewindow {
    position: absolute;
    width:510px;
    text-align: left; !important
} .profilewindow > .windowbody { height:130px; }

.gazer {
    position: absolute;
    height: 140px;
    top: 53px;
    left: 20px;
    border-radius: 50%;
}

.img1 {
}
.img2 {
}
.img3 {
}
.img4 {
}


div.navwindow{
    right:20px;
    position: absolute;
    max-width:200px;
    text-align: left; !important
}


button {
    background-color: #2D3044;
    border: 4px solid;
    border-color: #191726;
    padding: 10px;
    padding-right: 60px;
    margin: 10px; 
    cursor: pointer;
    height: 50px;
    width: 140px;
}
.posts { color:#FF5C57 }
.mysetup { color:#FFB536; height:70px; text-align:left }
.homepage { color:#F3F99D; height:70px; text-align:left }
.github { color:#5AF78E }
.tools { color:#9AEDFE }
.about { color:#57C7FF }

.githubimg {
    position:relative;
    bottom:27px;
    left:60px;
    width:35px;
}

.toolstxt {
    position:relative;
    bottom: 40px
}
.abouttxt {
    position:relative;
    bottom: 47px;
}
.poststxt {
    position:relative;
    bottom:44px;
}

.toolsimg{
    position:relative;
    bottom:3px;
    left:60px;
    width:35px;
}

.aboutimg{
    position:relative;
    width:35px;
    left:60px;
    bottom:5px;
    border-radius: 50%;
}

.postsimg{
    position:relative;
    width:25px;
    bottom:5px;
    left:58px;
}
.setupimg{
    position:absolute;
    width:35px;
    top:191px;
    left: 96px;
}
.homepageimg{
    position:absolute;
    width:35px;
    top:100px;
    left: 96px;
}

div.recentwindow{
    position: absolute;
    width:70%;
    top: 300px;
    bottom: 100px;
    left: 5%;
}

body {
    background: #191726;
    background-image: url("../img/Meditation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

div.windowbody {
    border: 10px solid #191726;
    border-top: 40px solid #191726;
    padding: 20px;
    background: #2d3044;
    height:fit-content;
}

.close {
    max-width: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.maximize {
    max-width: 20px;
    position: absolute;
    right: 45px;
    top: 10px;
}

.minimize {
    max-width: 20px;
    position: absolute;
    right: 75px;
    top: 10px;
}


div.windowtext {
    position: relative;
    width:100%;
    right: 10;
    color: #ffffff;
}

div.title {
    text-align: center;
    font-size: 250%;
}

div.proftitle {
    text-align: right;
    font-size: 250%;
}

div.windowtitle {
    position: absolute;
    top: 10px;
    color: #fff;
}

