.panel {
   display: flex;
   flex-direction: column;

   border: 16px solid;

   /* border-image: url("assets/rims.png") 4; */
   border-image-repeat: repeat;
   image-rendering: crisp-edges;
   backdrop-filter: saturate(400%) hue-rotate(70deg) contrast(120%) brightness(50%) blur(3px);

   border-image: url("/assets/rim_simple.png") 5;
   border-image-repeat: repeat;
   image-rendering: crisp-edges;

   margin:0px;
}

.panel_multi {

}

.panel_header {
   display: flex;
   justify-content: space-between;

   padding-bottom: 10px;
   border: 10px solid;

   border-image: url("/assets/rim_simple.png") 5;
   border-image-repeat: repeat;
   image-rendering: crisp-edges;

   font-family: "MonaNeon";
   font-weight: 1000;
   font-size: 1.5em;

   color: white;

   backdrop-filter: saturate(400%) contrast(120%) brightness(50%) hue-rotate(70deg) blur(3px);

   height: 20px;
}

.panel_header_icons {
   display: flex;
   justify-content: space-between;
}

.panel_icon {
   margin-left: 15px;
}

.panel_header_accent {
   margin-top: -4px;
   width: 58px;
   height: 24px;
}

.panel_header_ctl {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;

   width: fit-content;
   height: fit-content;

   border: 4px solid;
   border-image: url("/assets/rims_simple_thin.png") 2;
   border-image-repeat: repeat;
   image-rendering: crisp-edges;

   padding: 2px 2px 2px 2px;

   font-size: 0.7em;
}

.panel_body_wrapper {
   border: 10px solid;
   padding: 3px;

   border-image: url("/assets/rim_simple_mainpanel.png") 5;
   image-rendering: crisp-edges;

   backdrop-filter: saturate(400%) hue-rotate(70deg) contrast(120%) brightness(50%) blur(3px);
}

.panel_body {
   /* border: 30px solid; */
   /* border-image: url("assets/panel.png") 8 fill; */
   /* border-image-repeat: repeat; */

   font-family: "MonaNeon";
   font-weight: 800;
   font-size: 1.3em;

   
   color: white;
}
