@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
* {
    font-size: 100%;
    font-family: Gugi;
 }
font.code {
    font-size: 100%;
    font-family: "Source Code Pro";
    background-color: #191726;
}

font.link{
    font-style:italic;
    font-weight:1000;
    color:#5AF78E;
}

a{
    text-decoration:none;
}

div.profilewindow {
    position: absolute;
    width:510px;
    text-align: left; !important
} .profilewindow > .windowbody { height:130px; }

.gazer {
    position: absolute;
    height: 140px;
    top: 53px;
    left: 20px;
    border-radius: 50%;
}

.image1 {
    width:100%;
}
.image2 {
    width:100%;
}
.image3 {
    width:100%;
}
.image4 {
    width:100%;
}

.imagewindow1 {
    position:relative;
    max-width:80%;
    left:60px;
    top:105px;
}
.imagewindow2 {
    position:relative;
    max-width:60%;
    left:40px;
    top:170px;
}
.imagewindow3 {
    position:relative;
    max-width:50%;
    left:400px;
    top:230px;
}
.imagewindow4 {
    position:relative;
    max-width:80%;
    left:60px;
    top:330px;
}



div.navwindow{
    right:20px;
    position: absolute;
    max-width:200px;
    text-align: left; !important
}


button {
    background-color: #202538;
    border: 4px solid;
    border-color: #191726;
    padding: 10px;
    padding-right: 60px;
    margin: 10px; 
    cursor: pointer;
    height: 50px;
    width: 140px;
}
.posts { color:#FF5C57 }
.mysetup { color:#FFB536; height:70px; text-align:left }
.homepage { color:#F3F99D; height:70px; text-align:left }
.github { color:#5AF78E }
.tools { color:#9AEDFE }
.about { color:#57C7FF }

.githubimg {
    position:relative;
    bottom:27px;
    left:60px;
    width:35px;
}

.toolstxt {
    position:relative;
    bottom: 40px
}
.abouttxt {
    position:relative;
    bottom: 47px;
}
.poststxt {
    position:relative;
    bottom:44px;
}

.toolsimg{
    position:relative;
    bottom:3px;
    left:60px;
    width:35px;
}

.aboutimg{
    position:relative;
    width:35px;
    left:60px;
    bottom:5px;
    border-radius: 50%;
}

.postsimg{
    position:relative;
    width:25px;
    bottom:5px;
    left:58px;
}
.setupimg{
    position:absolute;
    width:35px;
    top:191px;
    left: 96px;
}
.homepageimg{
    position:absolute;
    width:35px;
    top:100px;
    left: 96px;
}

div.recentwindow{
    position: absolute;
    width:70%;
    top: 300px;
    bottom: 100px;
    left: 5%;
}

div.scriptwindow{
    position: relative;
    width:90%;
    top: 70px;
    bottom: 100px;
    left: 15%;
}

div.tilingwindow{
    position: relative;
    width:120%;
    top: 150px;
    bottom: 100px;
    left: -22%;
}
div.clarificationswindow{
    position: relative;
    max-width:50%;
    min-width:70%;
    top: 220px;
    bottom: 100px;
    left: 0%;
}

div.herbdemo1{
    position: relative;
    width:120%;
    top: 170px;
    bottom: 100px;
    left: 5%;
}
div.herbdemo2{
    position: relative;
    width:70%;
    top: 70px;
    bottom: 100px;
    left: 15%;
}
div.herbdemo3{
    position: relative;
    width:110%;
    top: 120px;
    bottom: 100px;
    left: 7%;
}
img.herbdemo{
    width:100%
}

body {
    background: #191726;
    background-image: url("../../../img/Meditation.jpg");
    background-size: 150%;
    background-position: center; 
}

div.windowbody {
    border: 10px solid #191726;
    border-top: 40px solid #191726;
    padding: 20px;
    background: #202538;
    height:fit-content;
}

.close {
    max-width: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.maximize {
    max-width: 20px;
    position: absolute;
    right: 45px;
    top: 10px;
}

.minimize {
    max-width: 20px;
    position: absolute;
    right: 75px;
    top: 10px;
}


div.windowtext {
    position: relative;
    width:100%;
    right: 10;
    color: #ffffff;
}

div.title {
    text-align: center;
    font-size: 250%;
}

div.proftitle {
    text-align: right;
    font-size: 250%;
}

div.windowtitle {
    position: absolute;
    top: 10px;
    color: #fff;
}

